@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Regular.woff);
  src: url(../font/Pretendard-Regular.eot);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Medium.woff);
  src: url(../font/Pretendard-Medium.eot);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-SemiBold.woff);
  src: url(../font/Pretendard-SemiBold.eot);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url(../font/Pretendard-Bold.woff);
  src: url(../font/Pretendard-Bold.eot);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.racing-sans one-regular {
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

button {
  border: 0;
  background-color: transparent;
}

/* 변수담기 */
:root {
  --font-kr: "Pretendard";
  --font-en: "Pretendard";
  --title-size: 4rem;
  --basic-size: 25px;
  --small-size: 18px;
  --margin-bottom: 30px;
}

body {
  font-family: "Pretendard";
  line-height: 1;
  color: #333;
  overflow-x: hidden;
}

html, body {
  font-size: 62.5%; /* 10px */
  font-size: var(--basic-size);
}

.mobile {
  display: none;
}

.wrap {
  max-width: 1920px;
  margin: 0 auto;
  /* position: relative; */
}

.header {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  /* transform:translateX(-938px); */
  transform: translateX(-960px);
  background-color: #fff;
  border-right: 1px solid #bebebe;
  /*     margin: 0 auto; */
  /* .util end */
}
.header .logo {
  margin: 20px 25px 10px;
  padding-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #bebebe;
}
.header .logo a img {
  max-height: 50px;
  height: 6.54vw;
  vertical-align: middle;
}
.header .util {
  width: 250px;
  padding: 0 25px;
  /* .saerch end */
}
.header .util .login {
  padding-bottom: 10px;
}
.header .util .login a {
  display: flex;
  align-items: center;
  height: 57px;
}
.header .util .login img {
  height: 50px;
  padding-right: 10px;
}
.header .util .login p {
  font-size: 20px;
}
.header .util .user {
  width: 200px;
  height: 55px;
  background-color: #0095ff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 50px;
}
.header .util .saerch {
  margin-top: 10px;
  border-bottom: 1px solid #bebebe;
  padding-bottom: 20px;
}
.header .util .saerch--item {
  position: relative;
}
.header .util .saerch--item input[type=text] {
  width: 200px;
  height: 55px;
  border: 1px solid #0095ff;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 36px 10px 50px;
  font-size: 20px;
}
.header .util .saerch--item img {
  width: 40px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-weight: 500;
}
.header .util .saerch input::-moz-placeholder {
  font-size: 20px;
}
.header .util .saerch input::placeholder {
  font-size: 20px;
}
.header .util .saerch input:focus {
  outline: 1px solid #0095ff;
}
.header .util .saerch .x {
  display: none;
}
.header .util *:focus { /* Tab키로 넘어가는지 확인 */
  /* outline: 0; */
  outline: 1px solid rgb(180, 180, 255);
}
.header .util .pc_nav .gnb {
  margin: 24px 0;
}
.header .util .pc_nav .gnb .depth01 {
  display: block;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.header .util .pc_nav .gnb .depth01 a {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  /* &:hover {                        
      background: url(/img/icon/그래프_파랑2.png);
  } */
}
.header .util .pc_nav .gnb .depth01 a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* header end */
#main {
  max-width: 1920px;
  padding-left: 250px;
  /* .main_visual end*/
  /* .new end */
  /* .chart */
  /* .editor end */
  /* .mv end */
  /* .magazine end */
}
#main .main_visual {
  max-width: 1670px;
  margin: 0 75px 100px;
  position: relative;
}
#main .main_visual .visual a figure {
  max-height: 673px;
  height: 40.29vw;
}
#main .main_visual .visual a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .main_visual .text {
  position: absolute;
  left: 110px;
  bottom: 30%;
}
#main .main_visual .text h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 20px;
}
#main .main_visual .text P {
  line-height: 1.5;
  font-size: 17px;
  font-weight: 500;
  display: block;
}
#main .main_visual .main_icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 110px;
  bottom: 10%;
}
#main .main_visual .main_icon a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  margin-right: 10px;
  /* display: block; */
  /* display: inline-block; */
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
}
#main .main_visual .main_icon a img {
  width: 15px;
  vertical-align: middle;
}
#main .new {
  max-width: 1670px;
  margin: 100px 75px;
  height: 500px;
}
#main .new .title {
  display: flex;
  justify-content: space-between;
}
#main .new .title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}
#main .new .title p {
  font-size: 20px;
}
#main .new .new_album {
  max-height: 400px;
  height: 20.83vw;
  display: flex;
  justify-content: space-between;
}
#main .new .new_album .album {
  /* 284px */
  width: 18.9%;
}
#main .new .new_album .album--image {
  max-height: 283px;
  height: 16.94vw;
  position: relative;
}
#main .new .new_album .album--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .new .new_album .album--image .normal {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4588235294);
  border-radius: 50%;
  display: block;
  display: inline-block;
  padding: 16.5px 20px;
}
#main .new .new_album .album--image--text {
  padding: 18px 0;
}
#main .new .new_album .album--image--text h5 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 20px;
}
#main .new .new_album .album--image--text p {
  font-size: 20px;
}
#main .chart {
  max-width: 1670px;
  height: 600px;
  margin: 100px 75px;
  position: relative;
}
#main .chart .title {
  display: flex;
  justify-content: space-between;
}
#main .chart .title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}
#main .chart .title p {
  font-size: 20px;
}
#main .chart .btn_wrap { /* 부모에다가 absolute를 줬어야했음 */
  width: 100%;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  z-index: 99;
}
#main .chart .btn_wrap .next {
  position: absolute;
  right: -40px;
}
#main .chart .btn_wrap button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-family: "CookieRun-Regular";
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5764705882);
}
#main .chart .track {
  height: 500px;
  position: static;
}
#main .chart .track .swiper-slide {
  /* max-width: 700px;                                  
  width: 49.61%; */
  /*  position: relative;  */
}
#main .chart .track .swiper-slide .scroll--list {
  height: 100px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  border-bottom: 1px solid #bebebe;
}
#main .chart .track .swiper-slide .scroll--list--image {
  width: 78px;
  height: 78px;
}
#main .chart .track .swiper-slide .scroll--list--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .chart .track .swiper-slide .number h6 {
  padding: 0 20px;
  font-weight: 700;
}
#main .chart .track .swiper-slide .main--image--text span {
  font-size: 20px;
  font-weight: 700;
}
#main .chart .track .swiper-slide .main--image--text p {
  padding-top: 8px;
  font-size: 17px;
  color: #5e5e5e;
}
#main .chart .track .swiper-slide .main--image--icon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  /* top: 50%; */
  right: 30px;
  /* transform: translateY(-50%); */
}
#main .chart .track .swiper-slide .main--image--icon a {
  display: block;
}
#main .chart .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-family: "CookieRun-Regular";
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5764705882);
  top: 55%;
  right: -10px;
  transform: translateY(-55%);
}
#main .chart .swiper-button-next:after {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-left: 2px;
}
#main .chart .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-family: "CookieRun-Regular";
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5764705882);
  top: 55%;
  left: -10px;
  transform: translateY(-55%);
}
#main .chart .swiper-button-prev:after {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  margin-right: 2px;
}
#main .hot_artist {
  max-width: 1670px;
  margin: 150px 75px;
  /* .title end */
  /* .hot_artist end */
}
#main .hot_artist .title {
  display: flex;
  justify-content: space-between;
}
#main .hot_artist .title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}
#main .hot_artist .title p {
  font-size: 20px;
}
#main .hot_artist .artist {
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  /* .artist end */
}
#main .hot_artist .artist .artist--image {
  max-width: 753px;
  width: 48.5%;
  position: relative;
}
#main .hot_artist .artist .artist--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .hot_artist .artist .artist--image--text {
  max-width: 753px;
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.6705882353);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px;
}
#main .hot_artist .artist .artist--image--text p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}
#main .hot_artist .artist .track2_list {
  width: 48.5%;
}
#main .hot_artist .artist .track2_list .scroll {
  position: relative;
  overflow-x: auto;
}
#main .hot_artist .artist .track2_list .scroll--list {
  display: flex;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #bebebe;
  overflow-x: auto;
  overflow-y: hidden;
}
#main .hot_artist .artist .track2_list .scroll--list--image {
  width: 78px;
  height: 78px;
}
#main .hot_artist .artist .track2_list .scroll--list--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .hot_artist .artist .track2_list .scroll .number h6 {
  padding: 0 20px;
  font-weight: 700;
}
#main .hot_artist .artist .track2_list .scroll .main--image--text span {
  font-weight: 700;
  font-size: 20px;
}
#main .hot_artist .artist .track2_list .scroll .main--image--text p {
  padding-top: 8px;
  font-size: 17px;
  color: #5e5e5e;
}
#main .hot_artist .artist .track2_list .scroll .main--image--icon {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
#main .hot_artist .artist .track2_list .scroll .main--image--icon a {
  display: block;
}
#main .editor {
  max-width: 1670px;
  margin: 150px 75px;
  /* .title end */
}
#main .editor .title {
  display: flex;
  justify-content: space-between;
}
#main .editor .title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 40px;
}
#main .editor .title p {
  font-size: 20px;
}
#main .editor .editor_tab {
  display: flex;
  /* flex-wrap: nowrap; */
  gap: 1rem;
  margin-bottom: 30px;
  /* overflow: hidden; */
}
#main .editor .editor_tab li {
  width: 130px;
  height: 42px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid #6c6c6c;
  font-size: 20px;
}
#main .editor .editor_tab li.on {
  width: 130px;
  height: 42px;
  border: 1px solid #0095ff;
  color: #0095ff;
}
#main .editor--list {
  height: 442px;
  display: flex;
  justify-content: space-between;
  display: none;
  gap: 1rem;
}
#main .editor--list.on {
  display: flex;
}
#main .editor--list--item {
  max-width: 365px;
  width: 25.85%;
}
#main .editor--list--item figure {
  max-height: 300px;
  height: 17.96vw;
}
#main .editor--list--item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .editor--list--text {
  height: 140px;
  position: relative;
}
#main .editor--list--text h6 {
  font-size: 25px;
  line-height: 1.2;
  padding: 20px 0;
}
#main .editor--list--text p {
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
  color: #616161;
}
#main .mv {
  max-width: 1670px;
  margin: 150px 75px;
  position: relative;
  /* .title end */
}
#main .mv .title {
  display: flex;
  position: relative;
  gap: 20px;
}
#main .mv .title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
}
#main .mv .title .title_tab {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
#main .mv .title .title_tab a:hover {
  color: #0095ff;
}
#main .mv .title .title_tab a.on {
  color: #0095ff;
}
#main .mv .title .title_more p {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
#main .mv .swiper {
  position: static;
  display: none;
  /* .swiper-slide end */
}
#main .mv .swiper.on {
  display: flex;
}
#main .mv .swiper .swiper-slide .mv--item {
  /* .mv--item end */
}
#main .mv .swiper .swiper-slide .mv--item figure {
  max-height: 300px;
  height: 17.96vw;
}
#main .mv .swiper .swiper-slide .mv--item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .mv .swiper .swiper-slide .mv--item .mv--text {
  padding: 10px 0;
}
#main .mv .swiper .swiper-slide .mv--item .mv--text h6 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}
#main .mv .swiper .swiper-button-next {
  right: -20px;
  z-index: 9;
}
#main .mv .swiper .swiper-button-prev {
  left: -20px;
}
#main .mv .swiper .swiper-button-next, #main .mv .swiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 1px;
  color: #333;
}
#main .mv .swiper .swiper-button-prev:after, #main .mv .swiper .swiper-rtl {
  content: "prev";
  font-size: 20px;
  font-weight: bold;
}
#main .mv .swiper .swiper-button-next:after {
  content: "next";
  font-size: 20px;
  font-weight: bold;
}
#main .magazine {
  max-width: 1670px;
  margin: 100px 75px;
  /* .list end */
}
#main .magazine .title {
  display: flex;
  justify-content: space-between;
}
#main .magazine .title h4 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
#main .magazine .title p {
  font-size: 20px;
}
#main .magazine .list {
  max-height: 640px;
  height: 38.32vw;
  display: flex;
  justify-content: space-between;
  /* .list end */
}
#main .magazine .list--item {
  max-height: 495px;
  width: 32%;
}
#main .magazine .list--item figure {
  max-height: 495px;
  height: 29.64vw;
}
#main .magazine .list--item figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .magazine .list--text {
  padding: 10px 0;
}
#main .magazine .list--text h6 {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 0;
}
#main .magazine .list--text p {
  line-height: 1.3;
}
#main .download {
  max-width: 1670px;
  margin: 150px 75px;
}
#main .download .gin {
  position: relative;
}
#main .download .gin .bg figure {
  max-height: 400px;
  height: 23.95vw;
}
#main .download .gin .bg figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .download .gin--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#main .download .gin--text figure {
  height: 56px;
}
#main .download .gin--text h3 {
  padding: 20px;
  font-family: "JalnanGothic";
  font-size: 45px;
  color: #0075c8;
}
#main .download .gin--text--p {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
#main .download .gin--text--p p {
  width: 170px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  line-height: 50px;
}

/* #main end */
#footer {
  max-width: 1920px;
  height: 250px;
  padding-left: 250px;
  margin-bottom: 100px;
  border-top: 1px solid #bebebe;
}
#footer .footer_inner {
  max-width: 1670px;
  margin: 0 75px;
}
#footer .footer_inner .note {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #bebebe;
}
#footer .footer_inner .note strong {
  padding-right: 20px;
  font-size: 16px;
}
#footer .footer_inner .note a {
  font-size: 20px;
}
#footer .footer_inner .info {
  padding: 30px 0;
  font-size: 15px;
}
#footer .footer_inner .info ul {
  display: flex;
}
#footer .footer_inner .info ul li {
  padding-right: 20px;
}
#footer .footer_inner .company_info ul {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer_inner .company_info ul li {
  display: flex;
  padding-right: 20px;
  font-size: 16px;
  line-height: 1.5;
}
#footer .footer_inner .company_info ul li span {
  font-weight: 500;
  padding-right: 10px;
}
#footer .footer_inner .company_info ul li a {
  text-decoration: underline;
}
#footer .footer_inner .copyright {
  font-size: 16px;
  padding-top: 20px;
}

.play_list {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-top: 1px solid #bebebe;
}
.play_list .mini_album {
  display: flex;
  align-items: center;
  padding: 0 200px 0 30px;
}
.play_list .mini_album a {
  width: 60px;
}
.play_list .mini_album a figure {
  height: 60px;
}
.play_list .mini_album a figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.play_list .mini_album--text {
  padding: 0 50px 0 25px;
}
.play_list .mini_album--text h5 {
  font-weight: 700;
}
.play_list .mini_album--icon {
  display: flex;
  align-items: center;
  line-height: 10px;
}
.play_list .mini_album--icon figure {
  padding: 0 5px;
  height: 23px;
}
.play_list .play_buttom {
  display: flex;
  align-items: center;
}
.play_list .play_buttom figure {
  height: 24px;
  padding: 0 30px;
}
.play_list .play_buttom figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.play_list .sound {
  display: flex;
}
.play_list .sound--icon {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.play_list .sound--list {
  height: 80px;
  line-height: 80px;
  padding-right: 30px;
}
.play_list .sound--list img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

@media screen and (max-width: 1910px) {
  .header {
    left: 0;
    transform: none;
  }
  #main .new .new_album .album--image {
    max-height: 283px;
    height: 14.81vw;
  }
}
@media screen and (max-width: 1440px) {
  #main .new {
    height: 400px;
  }
  #main .new .new_album {
    max-height: 500px;
    height: 34.72vw;
  }
  #main .new .new_album .album--image {
    max-height: 283px;
    height: 13.93vw;
  }
  #main .new .new_album .album--image--text h5 {
    font-size: 23px;
  }
  #main .new .new_album .album--image--text p {
    font-size: 18px;
  }
  /* chart */
  /* #main .chart .track .track_list .scroll .main--image--icon {
      right: 0;
  } */
  /* hot_artist */
  #main .hot_artist .artist .track_list .scroll .main--image--icon {
    right: 0;
  }
  /* .editor */
  #main .editor--list {
    height: 380px;
  }
  #main .editor--list--item {
    width: 25.34%;
    height: 20.83vw;
  }
  #main .editor--list--text h6 {
    font-size: 20px;
  }
  #main .editor--list--text p {
    font-size: 16px;
  }
  /* mv */
  #main .mv .swiper .swiper-slide .mv--item figure {
    height: 15vw;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text h6 {
    font-size: 25px;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text P {
    font-size: 20px;
  }
  /* magazine */
  #main .magazine {
    padding-bottom: 0;
  }
  #main .magazine .list {
    height: 450px;
  }
  #main .magazine .list--item figure {
    max-height: 495px;
    height: 21.94vw;
  }
  #main .magazine .list--text h6 {
    font-size: 25px;
    line-height: 1.2;
  }
  #main .magazine .list--text p {
    font-size: 18px;
  }
  /* footer */
  #footer .footer_inner .company_info ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  .play_list .mini_album {
    padding: 0 10px 0 30px;
  }
}
@media screen and (max-width: 1280px) {
  #main .main_visual {
    margin: 0;
  }
  #main .main_visual .text {
    left: 80px;
  }
  #main .main_visual .main_icon {
    left: 80px;
  }
  #main .main_visual .text h3 {
    font-size: 1.5rem;
  }
  #main .main_visual .text p {
    line-height: 1.4;
    font-size: 16px;
  }
  /*new  */
  #main .new {
    margin: 100px 50px;
  }
  #main .new .new_album .album {
    width: 24.1%;
  }
  #main .new .new_album .album:last-child {
    display: none;
  }
  #main .new .new_album .album--image {
    max-height: 300px;
    height: 17.5vw;
  }
  /* track */
  #main .chart {
    margin: 100px 50px;
  }
  #main .chart .track .swiper-slide .main--image--icon {
    display: none;
  }
  /* hot_artist */
  #main .hot_artist {
    margin: 100px 50px;
  }
  #main .hot_artist .artist .artist--image--text p {
    font-size: 1.3rem;
  }
  #main .hot_artist .artist .track2_list .scroll .main--image--icon {
    display: none;
  }
  /* editor */
  #main .editor {
    margin: 100px 50px;
  }
  #main .editor--list--item {
    width: 31.25%;
  }
  #main .editor--list--item:last-child {
    display: none;
  }
  /* mv */
  #main .mv {
    margin: 100px 50px;
  }
  #main .mv .swiper .swiper-slide .mv--item figure {
    height: 20vw;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text h6 {
    font-size: 23px;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text P {
    font-size: 16px;
  }
  /* magazine */
  #main .magazine {
    margin: 100px 50px;
  }
  #main .magazine .list {
    height: 400px;
  }
  #main .magazine .list--text h6 {
    font-size: 23px;
  }
  #main .download {
    margin: 100px 50px;
  }
  #main .download .gin--text figure {
    margin-bottom: 10px;
  }
  #main .download .gin--text h3 {
    font-size: 40px;
  }
  /* footer */
  #footer .footer_inner .info {
    font-size: 14px;
  }
  #footer .footer_inner .info ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1110px) {
  .play_list .sound--icon {
    display: none;
  }
}
/* 테블릿 */
@media screen and (max-width: 1024px) {
  html, body {
    font-size: var(--small-size);
  }
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header {
    width: 100%;
    height: 100px;
    border-right: none;
    position: relative;
  }
  .header .logo {
    height: 100px;
    border-bottom: none;
    text-align: start;
    border-bottom: none;
    padding-bottom: 0;
    line-height: 100px;
    padding-left: 20px;
    margin: 0;
  }
  .header .logo a img {
    max-height: 45px;
    height: 6.54vw;
  }
  .header .inner .mobile_buttom {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;
  }
  .header .inner .mobile_saerch {
    padding-right: 10px;
  }
  .header .inner .mobile_saerch img {
    width: 50px;
    height: 50px;
  }
  .header .inner .mobile_menu img {
    width: 40px;
    height: 40px;
  }
  .header .util .saerch {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    display: none;
  }
  .header .util .saerch--item {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    border: none;
  }
  .header .util .saerch input[type=text] {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 10px;
    padding: 10px 36px 10px 50px;
  }
  .header .util .saerch .x {
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  .header .mobile_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    display: none;
    z-index: 9999;
  }
  .header .mobile_nav .mobile_close {
    text-align: end;
  }
  .header .mobile_nav .login {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin: 20px 0;
  }
  .header .mobile_nav .login img {
    width: 60px;
  }
  .header .mobile_nav .login p {
    font-size: 30px;
    padding-left: 20px;
  }
  .header .mobile_nav .user {
    width: 100%;
    height: 80px;
    background-color: #0095ff;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    margin: 20px 0;
  }
  .header .mobile_nav .gnb {
    margin: 20px;
  }
  .header .mobile_nav .gnb .depth01 {
    display: flex;
    padding: 20px 0;
  }
  .header .mobile_nav .gnb .depth01 a {
    padding-right: 20px;
  }
  .header .mobile_nav .gnb .depth01 img {
    width: 30px;
    height: 30px;
  }
  .header .mobile_nav .gnb .depth01 p {
    font-size: 30px;
  }
  /* #main */
  #main {
    padding: 0;
  }
  #main .main_visual {
    margin: 0 auto;
  }
  #main .main_visual .visual a figure {
    max-height: 600px;
    height: 58.59vw;
  }
  #main .main_visual .text h3 {
    font-size: 45px;
  }
  #main .main_visual .text p {
    font-size: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  #main .main_visual .m_visual {
    margin: 0 auto;
  }
  #main .main_visual .m_visual a figure {
    max-height: 600px;
    height: 58.59vw;
  }
  #main .main_visual .m_visual a figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* new */
  #main .new {
    margin: 100px 20px;
  }
  #main .new .new_album .album {
    /* 250 */
    width: 24.41%;
  }
  #main .new .new_album .album--image {
    height: 24.41vw;
  }
  /* chart */
  #main .chart {
    margin: 100px 20px;
  }
  /* hot_artist */
  #main .hot_artist {
    margin: 100px 20px;
  }
  #main .hot_artist .artist .artist--image--text p {
    font-size: 1.8rem;
  }
  /* editor */
  #main .editor {
    margin: 100px 20px;
  }
  /* mv */
  #main .mv {
    margin: 100px 20px;
  }
  #main .mv .swiper .swiper-slide .mv--item figure {
    height: 30vw;
  }
  /* magazine */
  #main .magazine {
    margin: 100px 20px;
  }
  #main .download {
    margin: 100px auto;
  }
  #main .download .gin .bg figure {
    /* 400 */
    height: 39.06vw;
  }
  #footer {
    padding: 0;
  }
  .play_list .mini_album {
    padding: 0 0 0 30px;
  }
  .play_list .sound--list {
    height: 80px;
    line-height: 80px;
  }
  .play_list .sound .sound--icon {
    display: none;
  }
  /* 767 */
  /* 600 */
  /* 480 */
}
@media screen and (max-width: 1024px) and (max-width: 767px) {
  .header .mobile_nav .login p {
    font-size: 25px;
  }
  .header .mobile_nav .gnb .depth01 p {
    font-size: 25px;
  }
  #main .main_visual .text {
    /* bottom: 50%; */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  #main .main_visual .text h3 {
    font-size: 50px;
  }
  #main .main_visual .text p {
    font-size: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* display: none; */
  }
  #main .main_visual .m_visual a figure {
    max-height: 600px;
    height: 78.22vw;
  }
  #main .main_visual .main_icon {
    left: 50%;
    transform: translateX(-50%);
  }
  #main .new {
    margin: 100px 20px 100px;
    height: 400px;
  }
  #main .new .new_album .album {
    width: 32.29%;
  }
  #main .new .new_album .album:nth-child(4) {
    display: none;
  }
  #main .new .new_album .album--image {
    height: 31.29vw;
  }
  #main .new .new_album .album--image .normal {
    display: none;
  }
  #main .chart .track .track_list {
    width: 100%;
  }
  #main .hot_artist .artist {
    height: 1000px;
  }
  #main .hot_artist .artist .artist--image {
    width: 100%;
    flex-wrap: wrap;
  }
  #main .hot_artist .artist--text {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #main .hot_artist .artist .track2_list {
    width: 100%;
  }
  #main .editor--list {
    height: 900px;
    flex-wrap: wrap;
  }
  #main .editor--list--item:last-child {
    display: block;
  }
  #main .editor--list--item {
    width: 48%;
  }
  #main .editor--list--item figure {
    /* 300 */
    height: 39.11vw;
  }
  #main .mv .swiper .swiper-slide .mv--item figure {
    height: 50vw;
  }
  #main .magazine .list {
    height: 500px;
  }
  #main .magazine .list--item {
    width: 48%;
  }
  #main .magazine .list--item:last-child {
    display: none;
  }
  #main .magazine .list--item figure {
    max-height: 350px;
    height: 45.63vw;
  }
  .play_list .play_buttom figure {
    display: none;
  }
  .play_list .play_buttom figure:nth-child(2) {
    display: block;
  }
  .play_list .play_buttom figure:nth-child(3) {
    display: block;
  }
  .play_list .play_buttom figure:nth-child(4) {
    display: block;
  }
  /* footer */
  #footer {
    height: 350px;
  }
  #footer .footer_inner {
    margin: 20px;
  }
  #footer .footer_inner .note {
    display: none;
  }
  #footer .footer_inner .info ul {
    justify-content: center;
    flex-wrap: wrap;
  }
  #footer .footer_inner .info ul li {
    margin-bottom: 10px;
  }
  #footer .footer_inner .company_info ul {
    justify-content: center;
  }
  #footer .footer_inner .company_info ul li {
    font-size: 15px;
  }
  #footer .copyright {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 600px) {
  .play_list .play_buttom figure:nth-child(2) {
    display: none;
  }
  .play_list .play_buttom figure:nth-child(3) {
    display: block;
  }
  .play_list .play_buttom figure:nth-child(4) {
    display: none;
  }
  .play_list .mini_album a {
    width: 40px;
  }
  .play_list .mini_album a figure {
    height: 40px;
  }
  #main .editor .editor_tab li {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 490px) {
  #main .editor--list--item {
    width: 47.5%;
  }
  #main .editor--list--item figure {
    height: 34vw;
  }
}
@media screen and (max-width: 1024px) and (max-width: 480px) {
  .header {
    height: 60px;
  }
  .header .logo {
    height: 60px;
    line-height: 60px;
  }
  .header .inner .mobile_saerch img {
    width: 40px;
    height: 40px;
  }
  .header .inner .mobile_menu img {
    width: 35px;
    height: 35px;
  }
  .header .mobile_nav .login {
    height: 40px;
    margin: 10px 0;
  }
  .header .mobile_nav .login p {
    font-size: 18px;
    padding-left: 10px;
  }
  .header .mobile_nav .login img {
    width: 40px;
  }
  .header .mobile_nav {
    padding: 30px;
  }
  .header .mobile_nav .user {
    height: 50px;
    font-size: 18px;
    margin: 10px 0;
  }
  .header .mobile_nav .gnb {
    margin: 20px 0 0;
  }
  .header .mobile_nav .gnb .depth01 {
    padding: 10px 0;
  }
  .header .mobile_nav .gnb .depth01 p {
    font-size: 18px;
  }
  /* main_visual */
  #main .main_visual .m_visual a figure {
    max-height: 650px;
    height: 84.74vw;
  }
  #main .main_visual .text h3 {
    bottom: 70%;
    transform: translateY(-70%);
  }
  #main .main_visual .text p {
    display: none;
  }
  #main .main_visual .main_icon {
    bottom: 25%;
  }
  #main .new .new_album .album {
    width: 48.5%;
  }
  #main .new .new_album .album:nth-child(3) {
    display: none;
  }
  #main .new .new_album .album--image {
    height: 44.79vw;
  }
  #main .hot_artist .artist {
    height: 800px;
  }
  #main .hot_artist .artist .artist--image--text {
    height: 80px;
  }
  #main .hot_artist .artist .artist--image--text p {
    font-size: 1.2rem;
  }
  #main .hot_artist .artist .artist--image--text p br {
    display: none;
  }
  #main .editor--list {
    height: 700px;
  }
  #main .editor .editor_tab li {
    font-size: 18px;
    border: 1px solid #6c6c6c;
  }
  #main .editor .editor_tab li.on {
    border: 1px solid #0095ff;
  }
  #main .editor--list--item {
    width: 47%;
    height: 44.79vw;
  }
  #main .magazine .list {
    height: 400px;
  }
  #main .download {
    margin: 100px 0 0;
  }
  #main .download .gin .bg figure {
    height: 52.08vw;
  }
  #main .download .gin--text figure {
    margin-bottom: 0;
    height: 50px;
  }
  #main .download .gin--text figure img {
    width: 90px;
    height: 40px;
  }
  #main .download .gin--text h3 {
    font-size: 30px;
  }
  #main .download .gin--text--p p {
    width: 110px;
    height: 40px;
    line-height: 40px;
  }
  .play_list .mini_album--icon {
    display: none;
  }
  .play_list .play_buttom figure {
    display: none;
  }
  .play_list .play_buttom figure:nth-child(2) {
    display: none;
  }
  .play_list .play_buttom figure:nth-child(3) {
    display: block;
  }
  .play_list .play_buttom figure:nth-child(4) {
    display: none;
  }
  .play_list {
    height: 50px;
  }
  .play_list .sound {
    width: 60px;
    height: 60px;
  }
  .play_list .sound--list {
    height: 50px;
    line-height: 50px;
  }
  .play_list .sound--list img {
    width: 20px;
    height: 20px;
  }
  .play_list .mini_album a {
    width: 40px;
  }
  .play_list .mini_album a figure {
    height: 40px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 460px) {
  #main .main_visual .text h3 {
    font-size: 40px;
  }
  #main .editor .editor_tab li.on {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #0095ff;
  }
  #main .editor .editor_tab li {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #6c6c6c;
  }
}
@media screen and (max-width: 1024px) and (max-width: 440px) {
  #main .editor .editor_tab {
    gap: 10px;
  }
  #main .editor .editor_tab li.on {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #0095ff;
  }
  #main .editor .editor_tab li {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #6c6c6c;
  }
}
@media screen and (max-width: 1024px) and (max-width: 360px) {
  .header .inner .mobile_saerch img {
    width: 30px;
    height: 30px;
  }
  .header .inner .mobile_menu img {
    width: 30px;
    height: 30px;
  }
  #main .new {
    margin: 100px 20px 250px;
  }
  #main .new .title p {
    font-size: 15px;
  }
  #main .main_visual .text h3 {
    font-size: 35px;
  }
  #main .main_visual .main_icon a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  #main .new {
    height: 300px;
    margin: 80px 20px 80px;
  }
  #main .new .title h4 {
    font-size: 1.2rem;
  }
  #main .chart .title h4 {
    font-size: 1.3rem;
  }
  #main .chart .title p {
    font-size: 16px;
  }
  #main .chart {
    margin: 80px 20px 80px;
    height: 400px;
  }
  #main .chart .track {
    height: 350px;
  }
  #main .chart .track .swiper-slide .scroll--list {
    height: 70px;
  }
  #main .chart .track .swiper-slide .scroll--list--image {
    width: 50px;
    height: 50px;
  }
  #main .chart .track .swiper-slide .main--image--text span {
    font-size: 15px;
  }
  #main .chart .track .swiper-slide .main--image--text p {
    font-size: 14px;
  }
  #main .chart .swiper-button-prev {
    display: none;
  }
  #main .chart .swiper-button-next {
    display: none;
  }
  /* #main .chart .track {
      height: 400px;
  }
  #main .chart .track .track_list .scroll--list {
      height: 80px;
  }
  #main .chart .track .track_list .scroll--list--image {
      width: 60px;
      height: 60px;
  }
  #main .chart .track .track_list .scroll .main--image--text span {
      font-size: 17px;
  }
  #main .chart .track .track_list .scroll .main--image--text p {
      font-size: 15px;
  } */
  #main .hot_artist {
    margin: 80px 20px 80px;
  }
  #main .hot_artist .artist {
    height: 700px;
  }
  #main .hot_artist .title h4 {
    font-size: 1.3rem;
  }
  #main .hot_artist .title p {
    font-size: 15px;
  }
  #main .hot_artist .artist .artist--image {
    height: 83.33vw;
  }
  #main .hot_artist .artist .artist--image--text {
    height: 70px;
  }
  #main .hot_artist .artist .artist--image--text p {
    font-size: 1rem;
    line-height: 1;
  }
  #main .hot_artist .artist .track2_list .scroll--list {
    height: 70px;
  }
  #main .hot_artist .artist .track2_list .scroll--list--image {
    width: 50px;
    height: 50px;
  }
  #main .hot_artist .artist .track2_list .scroll .main--image--text span {
    font-size: 15px;
  }
  #main .hot_artist .artist .track2_list .scroll .main--image--text p {
    font-size: 14px;
  }
  #main .editor {
    margin: 80px 20px 80px;
  }
  #main .editor .title h4 {
    font-size: 1.3rem;
    padding-bottom: 30px;
  }
  #main .editor .title p {
    font-size: 15px;
  }
  #main .editor .editor_tab {
    gap: 0.5rem;
    margin-bottom: 20px;
  }
  /*     #main .editor .editor_tab {
          overflow-X: auto;
      } */
  #main .editor .editor_tab li.on {
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #0095ff;
  }
  #main .editor .editor_tab li {
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border: 1px solid #6c6c6c;
  }
  #main .editor--list {
    height: 450px;
  }
  #main .editor--list--text {
    height: 110px;
  }
  #main .editor--list--text h6 {
    font-size: 16px;
    padding: 10px 0;
  }
  #main .editor--list--text p {
    font-size: 14px;
    padding: 10px 0;
    display: none;
  }
  #main .mv {
    margin: 80px 20px 80px;
  }
  #main .mv .title h4 {
    font-size: 1.3rem;
  }
  #main .mv .title .title_tab {
    padding-top: 3px;
    gap: 10px;
    font-size: 15px;
  }
  #main .mv .title .title_more p {
    font-size: 15px;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text h6 {
    font-size: 18px;
  }
  #main .mv .swiper .swiper-slide .mv--item .mv--text P {
    font-size: 15px;
  }
  #main .mv .swiper .swiper-button-next, #main .mv .swiper .swiper-button-prev {
    display: none;
  }
  #main .magazine .title h4 {
    font-size: 1.3rem;
  }
  #main .magazine .title p {
    font-size: 15px;
  }
  #main .magazine .list {
    height: 300px;
  }
  #main .magazine .list--text {
    padding: 0;
  }
  #main .magazine .list--text h6 {
    font-size: 18px;
  }
  #main .magazine .list--text p {
    font-size: 15px;
  }
  #main .download .gin--text {
    padding: 10px;
  }
  #main .download .gin--text figure {
    height: 35px;
    margin-bottom: 10px;
  }
  #main .download .gin--text figure img {
    width: 85px;
    height: 35px;
  }
  #main .download .gin--text h3 {
    padding: 10px;
  }
  #main .download .gin--text--p {
    gap: 10px;
    padding: 10px 0 0;
  }
  #main .download .gin--text--p p {
    width: 100px;
    font-size: 15px;
  }
  #main .download .gin .bg figure {
    height: 55.55vw;
  }
  #footer .footer_inner .info {
    font-size: 13px;
  }
  #footer .footer_inner .company_info ul li {
    font-size: 13px;
  }
  #footer .footer_inner .copyright {
    font-size: 13px;
  }
  .play_list .play_buttom figure {
    height: 20px;
  }
  .play_list .mini_album--text h5 {
    font-size: 16px;
  }
  .play_list .mini_album--text p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 320px) {
  .header .mobile_nav {
    padding: 15px;
  }
  #main .new {
    height: 300px;
    margin: 80px 20px 50px;
  }
  #main .chart {
    margin: 50px 20px 50px;
    height: 400px;
  }
  #main .chart .track {
    height: 350px;
  }
  #main .chart .track .swiper-slide .scroll--list {
    height: 70px;
  }
  #main .chart .track .swiper-slide .scroll--list--image {
    width: 50px;
    height: 50px;
  }
  #main .chart .track .swiper-slide .main--image--text span {
    font-size: 15px;
  }
  #main .chart .track .swiper-slide .main--image--text p {
    font-size: 14px;
  }
  #main .chart .swiper-button-prev {
    display: none;
  }
  #main .chart .swiper-button-next {
    display: none;
  }
  #main .hot_artist {
    margin: 80px 20px 50px;
  }
  #main .hot_artist .artist {
    height: 650px;
  }
  #main .hot_artist .artist .track2_list .scroll--list {
    height: 70px;
  }
  #main .hot_artist .artist .track2_list .scroll--list--image {
    width: 50px;
    height: 50px;
  }
  #main .hot_artist .artist .track2_list .scroll .main--image--text span {
    font-size: 15px;
  }
  #main .hot_artist .artist .track2_list .scroll .main--image--text p {
    font-size: 14px;
  }
  #main .editor {
    margin: 80px 20px 50px;
  }
  #main .editor .editor_tab li {
    width: 80px;
    height: 32px;
    line-height: 32px;
  }
  #main .editor .editor_tab li.on {
    width: 80px;
    height: 32px;
    line-height: 32px;
  }
  #main .editor--list {
    height: 250px;
    flex-wrap: nowrap;
  }
  #main .editor--list--item:nth-child(3) {
    display: none;
  }
  #main .editor--list--item:nth-child(4) {
    display: none;
  }
  #main .mv {
    margin: 80px 20px 50px;
  }
}/*# sourceMappingURL=style.css.map */